// Global

$black: black;
$white: white;
$grey-01: #282828;
$grey-02: #424242;
$grey-03: #848484;

$light-grey-01: #f4f4f4;
$light-grey-02: #cccccc;

$global-margin-top: 40px;
$global-margin-left: 40px;

* {
    // font-family: 'Noto Sans KR', sans-serif;
    // font-family: 'Source Serif Pro', serif;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: 'Source Serif Pro', serif;
    font-family: 'Noto Serif KR', serif;
}

p {
    font-size: .85rem;
}

a {
    // font-family: 'Noto Serif KR', serif;
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        color: $grey-03;
    }
}

body {
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Noto Serif KR', serif;
    font-family: 'Noto Sans KR', sans-serif;

    margin: 0px $global-margin-left 0px 0px;
}

.section {
    margin-top: $global-margin-top;
}