div.layout-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "nav main"
        "footer footer";

        nav {
            grid-area: nav;
        }

        footer {
            grid-area: footer; 
        }
}
