ul.taglist {
    li {
        a {
            text-decoration: none;
            color: $grey-02;
            font-size: 12px;

            -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                color: $grey-03;
            }
        }
    }
}